@use 'partial';

*{
    font-family: Montserrat;
}

header{
    display: flex;
    flex-direction: column;
    background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%);
}

.header-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.20);  
    ul{
        display: flex;
        li{
            padding: 5px 7px;
            font-size: 12px;
            color: partial.$basic_white;
            font-weight: partial.$bold;
        }
    }
    ul li:nth-child(3){
        background-color: partial.$accent;
        border-radius: 8px;
    } 
    p{
        font-size: 16px;
        color: partial.$basic_white;
        font-weight: partial.$bold;
    }
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    .logo-container{
        display: flex;
        padding: 15px 0;
        .logo-img{
            width: 70px;
        }
        .logo-img-slash{
            width: 12px;
        }
        span{
            color: partial.$basic_white;
            font-weight: partial.$regular;
            font-size: 20px;
        }
    }
    .mobile-menu{
        display: none;
        position: fixed;
        inset: 0;                
        z-index: 99999;
        .menu-card{
            position: absolute;
            left: 12px;
            right: 12px;
            bottom: 0;
            background-color: partial.$basic_white;
            border-radius: 12px 12px 0 0;
            padding: 12px;
            .menu-close{
                margin-left: 300px;
                margin-bottom: 20px;
                cursor: pointer;
            }
            .menu-links{ 
                display: flex; 
                flex-direction: column; 
                gap: 15px;
            }
            .menu-links li a{
                display: block;
                font-weight: partial.$bold; 
                font-size: 20px; 
                line-height: 24px;
                color: partial.$active_regular;
                background-color: partial.$gray_bg;
                padding: 14px 16px;
                border-radius: 12px;
                text-align: center;
            }
            .menu-links li.active a{ 
                color: partial.$accent; 
            }     
        }           
    }
    .mobile-menu::before{
        content: "" ;
        position: absolute;
        inset: 0;
        background-color: partial.$main_regular;   
    }
    .mobile-menu.open{ 
        display:block; 
    }
}

.provider{
    background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%);
    .provider-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 129px 30px 30px;
        p{
            font-size: 38px;
            color: partial.$basic_white;
            font-weight: partial.$bold;
            width: 58%;
        }
    }
}

.team1{
    width: 315px;
}
