* {
  font-family: Montserrat;
}

.header-mobile {
  display: flex;
  flex-direction: column;
}
.header-mobile .header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #F5F5FA;
  position: relative;
  z-index: 2;
}
.header-mobile .header-info .lang {
  display: flex;
  flex-direction: row;
}
.header-mobile .header-info .lang li {
  padding: 5px 7px;
  font-size: 12px;
  color: #B3B3BA;
  font-weight: 700;
}
.header-mobile .header-info .lang li:hover {
  border-radius: 8px;
  background-color: #FFF;
}
.header-mobile .header-info .lang li:nth-child(3) {
  background-color: #F0145A;
  color: #FFF;
  border-radius: 8px;
}
.header-mobile .header-info p {
  font-size: 16px;
  color: #B3B3BA;
  font-weight: 700;
}
.header-mobile .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: relative;
  z-index: 2;
  background-color: #FFF;
}
.header-mobile .navigation .logo-container {
  display: flex;
  padding: 15px 0;
}
.header-mobile .navigation .logo-container .logo-img {
  width: 70px;
}
.header-mobile .navigation .logo-container .logo-img-slash {
  width: 12px;
}
.header-mobile .navigation .logo-container span {
  color: #323264;
  font-weight: 400;
  font-size: 20px;
}
.header-mobile .navigation .burger-img:hover {
  border-radius: 8px;
  background-color: #E6E6F0;
}
.header-mobile .navigation .mobile-menu {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 99999;
}
.header-mobile .navigation .mobile-menu .menu-card {
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 0;
  background-color: #FFF;
  border-radius: 12px 12px 0 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.header-mobile .navigation .mobile-menu .menu-card .menu-close {
  margin-bottom: 20px;
  cursor: pointer;
  width: 32px;
  transition: 0.85s;
}
.header-mobile .navigation .mobile-menu .menu-card .menu-close:hover {
  filter: invert(91%) sepia(22%) saturate(63%) hue-rotate(201deg) brightness(100%) contrast(90%);
}
.header-mobile .navigation .mobile-menu .menu-card .menu-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header-mobile .navigation .mobile-menu .menu-card .menu-links li a {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #24A3FF;
  background-color: #F5F5FA;
  padding: 14px 16px;
  border-radius: 12px;
  text-align: center;
  transition: 0.85s;
}
.header-mobile .navigation .mobile-menu .menu-card .menu-links li.active a {
  color: #F0145A;
}
.header-mobile .navigation .mobile-menu .menu-card .menu-links li a:hover {
  background-color: #E6E6F0;
}
.header-mobile .navigation .mobile-menu::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #E6E6F0;
}
.header-mobile .navigation .mobile-menu.open {
  display: block;
}

.about-team {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #FFF;
}
.about-team .about-team-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-team .about-team-card img {
  border-radius: 12px;
}
.about-team .about-team-card .about-team-card-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-team .about-team-card .about-team-card-text .about-team-card-name {
  font-weight: 700;
  background: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-team .about-team-card .about-team-card-text .about-team-card-role {
  font-size: 14px;
  color: #B3B3BA;
  font-weight: 400;
  line-height: 22px;
}
.about-team .about-team-card .about-team-card-text .about-team-card-contact {
  font-size: 16px;
  color: #24A3FF;
  font-weight: 400;
}
.about-team .about-team-card .about-team-card-text .about-team-card-contact.second {
  border-bottom: 4px solid #E6E6F0;
  padding-bottom: 30px;
}
.about-team .about-team-card .about-team-card-text .about-team-card-descr {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 26px;
}
.about-team .about-team-card .about-team-card-text .about-team-card-descr.first {
  padding-top: 15px;
}
.about-team .about-team-card .about-team-card-text .about-team-card-title {
  font-size: 14px;
  font-weight: 700;
  color: #323264;
  text-transform: uppercase;
  padding-top: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #F5F5FA;
  padding: 0 30px 30px;
}
footer .footer-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .footer-mobile li > img {
  padding-top: 11px;
}
footer .footer-mobile li:nth-child(1) {
  font-size: 16px;
  font-weight: 400;
  color: #323264;
  padding-top: 30px;
}
footer .footer-mobile li:nth-child(2) {
  color: #24A3FF;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
footer .footer-mobile li:nth-child(3):hover {
  filter: invert(34%) sepia(94%) saturate(7454%) hue-rotate(332deg) brightness(96%) contrast(95%);
}
footer .footer-mobile li:nth-child(4) {
  color: #46466E;
  font-size: 16px;
  font-weight: 700;
}
footer .footer-mobile li:nth-child(5) {
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
}
footer .footer-mobile li:nth-child(5):hover {
  color: #F0145A;
}
footer .footer-mobile-text {
  display: flex;
  justify-content: center;
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 100px) {
  .header-desktop {
    display: none;
  }
  .info {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
  .about-team .about-team-card .about-team-card-text .about-team-card-name {
    font-size: 30px;
  }
  .about-team .tablet {
    display: none;
  }
  .about-team .desktop {
    display: none;
  }
  .about-team .desktop .about-team-card-text ul.desktop {
    display: none;
  }
  .footer-tablet {
    display: none;
  }
}
@media screen and (min-width: 320px) {
  .menu-close {
    margin-left: 240px;
  }
  footer .footer-mobile-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 375px) {
  .menu-close {
    margin-left: 300px;
  }
  .about-team .about-team-card .about-team-card-text .about-team-card-name {
    font-size: 38px;
  }
  footer p {
    font-size: 16px;
  }
}
@media screen and (min-width: 414px) {
  .menu-close {
    margin-left: 340px;
  }
}
@media screen and (min-width: 425px) {
  .header-mobile .navigation .mobile-menu .menu-card {
    bottom: 54px;
  }
}
@media screen and (min-width: 666px) {
  .header-mobile {
    padding: 50px 60px 0;
    position: static;
  }
  .header-mobile .header-info {
    padding: 0;
    background-color: transparent;
    align-items: baseline;
    justify-content: normal;
    gap: 6px;
    position: relative;
    z-index: 2;
  }
  .header-mobile .header-info p {
    display: none;
  }
  .header-mobile .header-info .info {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
  }
  .header-mobile .header-info .info li svg {
    margin-bottom: 2px;
  }
  .header-mobile .header-info .info li:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    color: #B3B3BA;
  }
  .header-mobile .header-info .info li:nth-child(4) {
    font-size: 16px;
    color: #B3B3BA;
    font-weight: 700;
  }
  .header-mobile .header-info .info li:nth-child(6):hover {
    filter: invert(34%) sepia(94%) saturate(7454%) hue-rotate(332deg) brightness(96%) contrast(95%);
  }
  .header-mobile .header-info .lang li:hover {
    background-color: #F5F5FA;
  }
  .header-mobile .navigation {
    padding: 0;
    flex-direction: column;
    align-items: start;
  }
  .header-mobile .navigation .logo-container {
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .header-mobile .navigation .logo-container a img.logo-img {
    width: 130px;
  }
  .header-mobile .navigation .logo-container a img.logo-img-slash {
    width: 27px;
  }
  .header-mobile .navigation .logo-container span {
    font-size: 38px;
  }
  .header-mobile .navigation .burger-menu {
    display: none;
  }
  .header-mobile .navigation .desktop-nav {
    display: flex;
    position: relative;
    z-index: 2;
  }
  .header-mobile .navigation .desktop-nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .header-mobile .navigation .desktop-nav ul li {
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
  }
  .header-mobile .navigation .desktop-nav ul li a {
    font-size: 16px;
    font-weight: 700;
    color: #24A3FF;
  }
  .header-mobile .navigation .desktop-nav ul li.active {
    border-bottom: 2px solid #F0145A;
  }
  .header-mobile .navigation .desktop-nav ul li.active a {
    color: #F0145A;
  }
  .header-mobile .navigation .desktop-nav ul li:hover {
    border-bottom: 2px solid #24A3FF;
  }
  .header-mobile .navigation .desktop-nav ul li.active:hover {
    border-bottom: 2px solid #F0145A;
  }
  .header-mobile .navigation .desktop-nav ul li.active:hover a {
    color: #F0145A;
  }
  .about-team {
    padding: 60px;
  }
  .about-team .about-team-card {
    display: none;
  }
  .about-team .tablet {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .about-team .tablet .team-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-bottom: 4px solid #E6E6F0;
    padding-bottom: 30px;
  }
  .about-team .tablet .team-card img {
    width: 300px;
    border-radius: 12px;
  }
  .about-team .tablet .team-card .about-team-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .about-team .tablet .team-card .about-team-card-text .about-team-card-name {
    font-size: 38px;
    font-weight: 700;
    background: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about-team .tablet .team-card .about-team-card-text .about-team-card-role {
    font-size: 14px;
    color: #B3B3BA;
    font-weight: 400;
    line-height: 22px;
  }
  .about-team .tablet .team-card .about-team-card-text .about-team-card-contact {
    font-size: 16px;
    color: #24A3FF;
    font-weight: 400;
  }
  .about-team .tablet .team-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .about-team .tablet .team-description .about-team-card-descr {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 26px;
  }
  .about-team .tablet .team-description .about-team-card-title {
    font-size: 14px;
    font-weight: 700;
    color: #323264;
    text-transform: uppercase;
    padding-top: 15px;
  }
  footer {
    padding: 0 60px 30px;
  }
}
@media screen and (min-width: 768px) {
  footer .footer-mobile {
    display: none;
  }
  footer .footer-mobile-text {
    display: none;
  }
  footer .footer-tablet {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
  footer .footer-tablet .footer-tablet-adress {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  footer .footer-tablet .footer-tablet-adress li svg {
    margin-bottom: 2px;
  }
  footer .footer-tablet .footer-tablet-adress li:nth-child(1) {
    font-size: 16px;
    font-weight: 400;
    color: #323264;
  }
  footer .footer-tablet .footer-tablet-adress li:nth-child(3) {
    color: #24A3FF;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }
  footer .footer-tablet .footer-tablet-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 21px;
  }
  footer .footer-tablet .footer-tablet-contact li svg {
    margin-bottom: 2px;
  }
  footer .footer-tablet .footer-tablet-contact li:nth-child(1):hover {
    filter: invert(34%) sepia(94%) saturate(7454%) hue-rotate(332deg) brightness(96%) contrast(95%);
  }
  footer .footer-tablet .footer-tablet-contact li:nth-child(3) {
    color: #46466E;
    font-size: 16px;
    font-weight: 700;
  }
  footer .footer-tablet .footer-tablet-contact li:nth-child(5) {
    color: #24A3FF;
    font-size: 16px;
    font-weight: 700;
  }
  footer .footer-tablet .footer-tablet-contact li:nth-child(5):hover {
    color: #F0145A;
  }
  footer .footer-tablet .footer-tablet-text {
    color: #B3B3BA;
    font-size: 16px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .header-mobile {
    display: none;
  }
  .header-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 60px 0;
    background-color: #FFF;
  }
  .header-desktop .header-desktop-logo {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .header-desktop .header-desktop-logo img.logo-img {
    width: 130px;
  }
  .header-desktop .header-desktop-logo img.logo-img-slash {
    width: 27px;
  }
  .header-desktop .header-desktop-logo span {
    color: #323264;
    font-weight: 400;
    font-size: 38px;
  }
  .header-desktop .header-desktop-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    z-index: 2;
  }
  .header-desktop .header-desktop-nav .header-desktop-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }
  .header-desktop .header-desktop-nav .header-desktop-info li svg {
    margin-bottom: 2px;
  }
  .header-desktop .header-desktop-nav .header-desktop-info li:nth-child(1) {
    padding: 5px 7px;
    font-size: 12px;
    color: #B3B3BA;
    font-weight: 700;
  }
  .header-desktop .header-desktop-nav .header-desktop-info li:nth-child(1):hover {
    border-radius: 8px;
    background-color: #F5F5FA;
  }
  .header-desktop .header-desktop-nav .header-desktop-info li:nth-child(2) {
    padding: 5px 7px;
    font-size: 12px;
    color: #B3B3BA;
    font-weight: 700;
  }
  .header-desktop .header-desktop-nav .header-desktop-info li:nth-child(2):hover {
    border-radius: 8px;
    background-color: #F5F5FA;
  }
  .header-desktop .header-desktop-nav .header-desktop-info li:nth-child(3) {
    padding: 5px 7px;
    font-size: 12px;
    color: #FFF;
    font-weight: 700;
    background-color: #F0145A;
    border-radius: 8px;
  }
  .header-desktop .header-desktop-nav .header-desktop-info li:nth-child(5) {
    font-size: 16px;
    font-weight: 400;
    color: #B3B3BA;
  }
  .header-desktop .header-desktop-nav .header-desktop-info li:nth-child(7) {
    font-size: 16px;
    color: #B3B3BA;
    font-weight: 700;
  }
  .header-desktop .header-desktop-nav .header-desktop-info li:nth-child(9):hover {
    filter: invert(34%) sepia(94%) saturate(7454%) hue-rotate(332deg) brightness(96%) contrast(95%);
  }
  .header-desktop .header-desktop-nav .header-desktop-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
  }
  .header-desktop .header-desktop-nav .header-desktop-nav-list li {
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
  }
  .header-desktop .header-desktop-nav .header-desktop-nav-list li a {
    font-size: 16px;
    font-weight: 700;
    color: #24A3FF;
  }
  .header-desktop .header-desktop-nav .header-desktop-nav-list li.active {
    border-bottom: 2px solid #F0145A;
  }
  .header-desktop .header-desktop-nav .header-desktop-nav-list li.active a {
    color: #F0145A;
  }
  .header-desktop .header-desktop-nav .header-desktop-nav-list li:hover {
    border-bottom: 2px solid #24A3FF;
  }
  .header-desktop .header-desktop-nav .header-desktop-nav-list li.active:hover {
    border-bottom: 2px solid #F0145A;
  }
  .header-desktop .header-desktop-nav .header-desktop-nav-list li.active:hover a {
    color: #F0145A;
  }
  .about-team .tablet {
    display: none;
  }
  .about-team .desktop {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  .about-team .desktop img {
    width: 300px;
    height: 375px;
    border-radius: 12px;
  }
  .about-team .desktop .about-team-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .about-team .desktop .about-team-card-text .about-team-card-descr {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 26px;
  }
  .about-team .desktop .about-team-card-text .about-team-card-title {
    font-size: 14px;
    font-weight: 700;
    color: #323264;
    text-transform: uppercase;
    padding-top: 15px;
  }
  .about-team .desktop .about-team-card-text .about-team-card-name {
    font-size: 38px;
    font-weight: 700;
    background: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about-team .desktop .about-team-card-text .about-team-card-role {
    font-size: 14px;
    color: #B3B3BA;
    font-weight: 400;
    line-height: 22px;
  }
  .about-team .desktop .about-team-card-text .about-team-card-contact {
    font-size: 16px;
    color: #24A3FF;
    font-weight: 400;
  }
  .about-team .desktop .about-team-card-text .about-team-card-contact.second {
    border-bottom: 4px solid #E6E6F0;
    padding-bottom: 30px;
  }
  .about-team .desktop .about-team-card-text .about-team-card-descr.first {
    padding-top: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .about-team {
    padding: 60px 180px;
  }
  .about-team .desktop img {
    width: 400px;
    height: 500px;
  }
  .about-team .desktop .about-team-card-text .about-team-card-role, .about-team .desktop .about-team-card-text .about-team-card-contact {
    display: none;
  }
  .about-team .desktop .about-team-card-text ul.desktop {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 4px solid #E6E6F0;
    padding-bottom: 30px;
  }
  .about-team .desktop .about-team-card-text ul.desktop li:nth-child(1) {
    font-size: 14px;
    color: #B3B3BA;
    font-weight: 400;
    line-height: 22px;
  }
  .about-team .desktop .about-team-card-text ul.desktop li:nth-child(3), .about-team .desktop .about-team-card-text ul.desktop li:nth-child(5) {
    font-size: 16px;
    color: #24A3FF;
    font-weight: 400;
  }
}
@media screen and (min-width: 1920px) {
  .header-desktop {
    padding: 50px 160px 0;
  }
  .about-team {
    padding: 60px 280px;
  }
  footer {
    padding: 0 160px 30px;
  }
}/*# sourceMappingURL=team-entry.css.map */